{% extends 'base.html' %} {% load static %} {% block title %}restaurant numbers{% endblock %} 
{% block content %}
{% comment %}
mathfilters added to make operations in the template
{% endcomment %}

<p><a href="{% url "ingredients" %}">Ingredients</a></p>
{% comment %} {{ total_cost }} {% endcomment %}
<br>
<p> Total of the sum of one unit of the cost of the ingredient: {{ cost2 }} £<p>
<br>
<p> Total sum of the quantity of diferent elements (including all ingredients):
{{ cost3 }}<p>
<br>
<p> Total value of the ingredients stored {{ inventorycost }} £<p>
<br>
<p> Types of menu items: {{ menu_items }} <p>
 <br>
<p> Quantities of the recipe requirements: {{ recipe_requirements_quantity }} <p>
<br>
<p> Price per unit of the quantities of the recipe requirements {{recipe_requirements_unit_price}} 
<br>
<p>Total cost of the recipe {{recipe_cost_1|floatformat:2}}
<br>
<p> Quantities of the recipe requirements for menu item 1: {{ recipe_requirements_quantity_menu_item1 }} <p>




{% endblock %}