{% extends 'base.html' %} {% load static %} {% block title %}The restaurant{% endblock %} 
{% block content %}
{% comment %}
mathfilters added to make operations in the template
{% endcomment %}
{% load mathfilters %}

<div>
    <h2>Ingredients in stock</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Unit Price</th>
          <th>Total cost</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
        <tr>
          <td><a href="{% url "updateingredient" ingredient.id %}">{{ ingredient.name }}</a></td>
          <td>{{ ingredient.quantity }}</td>
          <td>{{ ingredient.unit }}</td>
          <td>{{ ingredient.unit_price }}</td>  
          <td>{{ ingredient.quantity|mul:ingredient.unit_price|floatformat:2 }}</td>   
          <td><a href="{% url "deleteingredient" ingredient.id %}">Delete ingredient</a></td>   
        {% endfor %}

      {% for message in messages %}
        {{ message|safe}}
        {% endfor %}

      </tbody>
    </table>   
  <br>
  <a href="{% url 'addingredient'%}">Add an ingredient</a>  </div>
  <br>
  <a href="{% url 'home'%}">Back to home</a>
{% endblock %}
