{% extends 'base.html' %} {% load static %} {% block title %}La Canaria{% endblock %} 
{% block content %}
<div class="ingredients">
  <div>
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Unit Price</th>
          <th>Total cost</th>
        </tr>
      </thead>
      <tbody>
        {% for Ingredient in object_list %}
        <tr>
          <td>{{ Ingredient.name }}</td>
          <td>{{ Ingredient.quantity }}</td>
          <td>{{ Ingredient.unit }}</td>
          <td>{{ Ingredient.unit_price }}</td>
          <td>{{ Ingredient.unit_price }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>   
  </div>
</div>
{% endblock %}
