{% extends 'base.html' %} {% load static %} {% block title %}The restaurant{% endblock %} 
{% block content %}
{% load mathfilters %}


<div>
    <h2>Log of purchases</h2>
    <table>
      <thead>
        <tr>
          <th>Menu Items</th>
          <th>Quantity</th>
          <th>Cost of the total purchase</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchases %}
        <tr>
          <td>{{ purchase.menu_item }}</td>
          <td>{{ purchase.quantity }}</td>
          <td>{{ purchase.menu_item.price |mul:purchase.quantity|floatformat:2 }} £ </td>
          <td>{{ purchase.timestamp }}</td>
          
          <td><a href="{% url "deletepurchase" purchase.pk %}">Delete purchase </a></td>   
        {% endfor %}

      {% for message in messages %}
        {{ message|safe}}
        {% endfor %}

      </tbody>
    </table>   
  <br>
<a href="{% url 'home'%}">Back to home</a>
{% endblock %}