{% extends 'base.html' %} {% load static %} {% block title %}The restaurant{% endblock %} 
{% block content %}
{% comment %}
mathfilters added to make operations in the template
{% endcomment %}
<div>
    <h2>Recipe requirements</h2>
    <table>
      <thead>
        <tr>
          <th>Menu Items</th>
          <th>Ingredients</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <td><a href="{% url "updaterecipe" recipe.pk %}">{{ recipe.menu_item }}</a></td>
          <td>{{ recipe.Ingredient }}</td>
          <td>{{ recipe.quantity }}</td>
          
          <td><a href="{% url "deleterecipe" recipe.pk %}">Delete Recipe requirement</a></td>   
        {% endfor %}

      {% for message in messages %}
        {{ message|safe}}
        {% endfor %}

      </tbody>
    </table>   
    <br>
    <a href="{% url 'home'%}">Back to home</a>
    {% endblock %}